.auth__form {
    background: var(--primary-color);
    padding: 40px;
    border-radius: 5px;
}

.errorMsg {
    margin-top: 2px!important;
    text-align: left;
    color: rgb(255, 0, 0);
    font-size: 0.9rem;
}

.auth__form p {
    margin-top: 30px;
}

.auth__form p a{
    color: rgba(255, 255, 255, 0.735);
}

.auth__form input[type="file"] {
    color: #fff;
    cursor: pointer;
}